
@{
    ViewBag.Title = "myFriend";
    Layout = "~/Views/layout/_ArctileLayout.cshtml";
}
<h3><i class="fa fa-angle-right"></i> 追蹤列表</h3>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 mb">
        <div class="content-panel pn">
            <div id="profile-02">
                <div class="user">
                    <img src="/assets-ZenTing/img/RT.jpg" class="img-circle" width="80">
                    <h4>RT 李仁廷</h4>
                </div>
            </div>
            <div class="pr2-social centered">
                <img src="/assets-ZenTing/img/house-visiting (1).png" class="img1" />
                <img src="/assets-ZenTing/img/delete (1).png" class="img-circle img2" />
            </div>
        </div><! --/panel -->
    </div><!--/ col-md-4 -->
    <div class="col-lg-3 col-md-3 col-sm-3 mb">
        <div class="content-panel pn">
            <div id="profile-02">
                <div class="user">
                    <img src="/assets-ZenTing/img/RT.jpg" class="img-circle" width="80">
                    <h4>RT 李仁廷</h4>
                </div>
            </div>
            <div class="pr2-social centered">
                <img src="/assets-ZenTing/img/house-visiting (1).png" class="img1" />
                <img src="/assets-ZenTing/img/delete (1).png" class="img-circle img2" />
            </div>
        </div><! --/panel -->
    </div><!--/ col-md-4 -->

    <div class="col-lg-3 col-md-3 col-sm-3 mb">
        <div class="content-panel pn">
            <div id="profile-02">
                <div class="user">
                    <img src="/assets-ZenTing/img/RT.jpg" class="img-circle" width="80">
                    <h4>RT 李仁廷</h4>
                </div>
            </div>
            <div class="pr2-social centered">
                <img src="/assets-ZenTing/img/house-visiting (1).png" class="img1" />
                <img src="/assets-ZenTing/img/delete (1).png" class="img-circle img2" />
            </div>
        </div><! --/panel -->
    </div><!--/ col-md-4 -->
    <div class="col-lg-3 col-md-3 col-sm-3 mb">
        <div class="content-panel pn">
            <div id="profile-02">
                <div class="user">
                    <img src="/assets-ZenTing/img/RT.jpg" class="img-circle" width="80">
                    <a href="#"><h4>RT 李仁廷</h4></a>
                </div>
            </div>
            <div class="pr2-social centered">
                <img src="/assets-ZenTing/img/house-visiting (1).png" class="img1" />
                <img src="/assets-ZenTing/img/delete (1).png" class="img-circle img2" />
            </div>
        </div><! --/panel -->
    </div><!--/ col-md-4 -->
    <div class="col-lg-3 col-md-3 col-sm-3 mb">
        <div class="content-panel pn">
            <div id="profile-02">
                <div class="user">
                    <img src="/assets-ZenTing/img/RT.jpg" class="img-circle" width="80">
                    <h4>RT 李仁廷</h4>
                </div>
            </div>
            <div class="pr2-social centered">
                <img src="/assets-ZenTing/img/house-visiting (1).png" class="img1" />
                <img src="/assets-ZenTing/img/delete (1).png" class="img-circle img2" />
            </div>
        </div><! --/panel -->
    </div><!--/ col-md-4 -->
</div>
