@{
    Layout = "~/Views/layout/_SingleTextLayout.cshtml";
}

<!-- 放入html code位置 -->

<!-- 放入html code位置 -->
            放入html code位置
            1<br />2<br />3<br />4<br />5<br />6<br />7<br />8<br />9<br />0<br />
            0<br />9<br />8<br />7<br />6<br />5<br />4<br />3<br />2<br />1<br />
            放入html code位置
            1<br />2<br />3<br />4<br />5<br />6<br />7<br />8<br />9<br />0<br />
            0<br />9<br />8<br />7<br />6<br />5<br />4<br />3<br />2<br />1<br />
            放入html code位置
            1<br />2<br />3<br />4<br />5<br />6<br />7<br />8<br />9<br />0<br />
            0<br />9<br />8<br />7<br />6<br />5<br />4<br />3<br />2<br />1<br />
            放入html code位置

@*<li class="dynamicTextSpace">
        <div class="dynamicBarText">
            <div class="dynamicBarTextValue">
                <label style="font-size:larger">UserID</label><br />
                <label style="font-size:large;float:left">地點</label>
                <label style="font-size:large;float:right">時間</label><br />
                <label style="word-break: break-all">234234567874567898765467898765645678654567578654567867897657678567</label>
            </div>
        </div>
    </li>*@